/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Times New Roman", Times, serif;
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "great vibes";
  src: url("../great-vibes.regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  color-scheme: light dark;
  background-color: white;
  color: black;
  --background: light-dark(white, black);
}

h1 {
  font-family: "great vibes";
  font-size: 70px;
  text-align: center;
}

img {
  width: 100%;
  max-height: 200px;
}

header img {
  width: 100vw;
  max-height: none;
  height: auto;
  display: block;
}
