/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Times New Roman", Times, serif;
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "great vibes";
  src: url("../great-vibes.regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "playfair";
  src: url("../playfair-display.regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: Geraldine;
  src: url("../GeraldinePersonalUseItalic-PK12m.ttf");
}

body {
  color-scheme: light dark;
  background-color: white;
  color: black;
  --background: light-dark(white, black);
}

header {
  text-align: left;
}

header p {
  text-align: left;
}

h1 {
  font-family: "Geraldine";
  font-size: 100px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  text-align: center;
}
