/* HIER KOMT JOUW CSS */
@font-face {
  font-family: italic;
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Comic Relief", system-ui;
  color-scheme: light dark;
}

img {
  max-width: 50%;
  max-height: 200px;
}
